body {
    width: 100%;
    min-width: 320px;
    /* height: 100%; */
    /* padding: auto; */
    background-color: lightgray;
}

header {
    width: 80%;
    min-width: 300px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    background-color: teal;

}

div {
    width: 100%;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    justify-self: center;
}

footer {
    width: 80%;
    min-width: 350px;
    height: 50px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    padding: auto;
    background-color: teal;
    
}

p.footer-text {
    color: white;
    font-size: 2.5vw;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    text-align: center;
}

/* In-line header styles for mobile */

.mobile-header {
    display: flex;
    margin-right: auto;
    margin-left: auto;

}

.company-name-header {
    width: 40vw;
    height: 80px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: navy;
    text-align: center;
    font-size: 4vw;
}

.navigation-buttons-mobile {
    width: 100px;
    margin-right: 50px;
    margin-left: 50px;
/*     margin-top: 10px; */
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
/*     background-color: orange; */
    flex-direction: column-reverse;


}

button.nav-button-home {
    width: 100px;
    margin-bottom: 5px;
    color: white;
    background-color: navy;
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    font-weight: 4vw;

}

button.nav-button-about {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: navy;
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    font-weight: 4vw;
}

button.nav-button-contact {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: navy;
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    font-weight: 4vw;
}

button.nav-button-gallery {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: navy;
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    font-weight: 4vw;
}

button.nav-button-blog {
    width: 100px;
    margin-top: 5px;
/*     margin-bottom: 5px; */
    color: white;
    background-color: navy;
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    font-weight: 4vw;
}

/* Button pseudo elements */

button:hover {
    background-color: aquamarine ;
}

button:active {
    background-color:aquamarine
}

/* Mobile display:grid */

.image-grid {
    display: grid;
    /* height: 40px; */
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.top-left-img {
    width: 135px;
    height: 135px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    grid-column: 1;
    grid-row: 1;
    border-style: solid;
    border-color: teal;
}

.top-right-img {
    width: 135px;
    height: 135px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    grid-column: 2;
    grid-row: 1;
    border-style: solid;
    border-color: teal;
}

.bottom-left-img {
    width: 135px;
    height: 135px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    grid-column: 1;
    grid-row: 2;
    border-style: solid;
    border-color: teal;
}

.bottom-right-img {
    width: 135px;
    height: 135px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    grid-column: 2;
    grid-row: 2;
    border-style: solid;
    border-color: teal;
}

/* Styles for featured box mobile */

.featured-box {
    width: 80%;
    min-width: 300px;
    height: 20vw;
    min-height: 150px;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    border-style: solid;
    border-color: teal;
    background-color: white;
}

h3.featured-header {
    color: white;
    background-color: navy;
    width: 30vw;
    min-width:   100px;
    height: auto;
    margin-top: none;
    margin-right: 75%;
    /* margin-bottom: 90%; */
    margin-left: 5%;
    text-align: center;

    /* border-style: solid; */
    /* border-width: 5px; */
}

.featured-content {
    color: navy;
    width: 90%;
    min-width: 280px;
    height: 20vw;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(8pt + 1vw);

    /* border-style: solid; */
}

.hairstyle-content {
    color: navy;
    width: 90%;
    min-width: 280px;
    height: 20vw;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(8pt + 1vw);

    /* border-style: solid; */
}

.hairstyle-box {
    width: 80%;
    min-width: 300px;
    height: 20vw;
    min-height: 150px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    border-style: solid;
    border-color: teal;
    background-color: white;
    /* text-align: center; */
}

/* .inline_content {
    display:flex;
} */


/* Classes for misc content */

.large-img {
    display: flex;
    width: 80%;
    min-width: 300px;
    height: 40vw;
    min-height: 153;
    /* margin: auto; */
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    /* padding: auto; */
    align-content: center;
    /* background-color: teal; */
    /* justify-content: center; */
    border-style: solid;
    border-color: teal;
}

  /* Small and up (Landscape Phones) */
  @media (min-width: 576px) {
    body {
        width: 100%;
        min-width: 320px;
        /* height: 100%; */
        /* padding: auto; */
        background-color: lightgray;
    }
    
    header {
        width: 80%;
        min-width: 300px;
        height: 150px;
        margin-right: auto;
        margin-left: auto;
        padding: auto;
        background-color: teal;
    
    }
    
    div {
        width: 100%;
        min-width: 320px;
        margin-right: auto;
        margin-left: auto;
        justify-self: center;
    }
    
    footer {
        width: 80%;
        min-width: 350px;
        height: 50px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        padding: auto;
        background-color: teal;
        
    }
    
    p.footer-text {
        color: white;
        font-size: 2.5vw;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 15px;
        text-align: center;
    }
    
    /* In-line header styles for mobile */
    
    .mobile-header {
        display: flex;
        margin-right: auto;
        margin-left: auto;
    
    }
    
    .company-name-header {
        width: 40vw;
        height: 80px;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        color: white;
        background-color: navy;
        text-align: center;
        font-size: 4vw;
    }
    
    .navigation-buttons-mobile {
        width: 100px;
        margin-right: 50px;
        margin-left: 50px;
    /*     margin-top: 10px; */
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    /*     background-color: orange; */
        flex-direction: column-reverse;
    
    
    }
    
    button.nav-button-home {
        width: 100px;
        margin-bottom: 5px;
        color: white;
        background-color: navy;
        border-style: solid;
        border-color: aqua;
        border-width: 1px;
        font-weight: 4vw;
    
    }
    
    button.nav-button-about {
        width: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: white;
        background-color: navy;
        border-style: solid;
        border-color: aqua;
        border-width: 1px;
        font-weight: 4vw;
    }
    
    button.nav-button-contact {
        width: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: white;
        background-color: navy;
        border-style: solid;
        border-color: aqua;
        border-width: 1px;
        font-weight: 4vw;
    }
    
    button.nav-button-gallery {
        width: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: white;
        background-color: navy;
        border-style: solid;
        border-color: aqua;
        border-width: 1px;
        font-weight: 4vw;
    }
    
    button.nav-button-blog {
        width: 100px;
        margin-top: 5px;
    /*     margin-bottom: 5px; */
        color: white;
        background-color: navy;
        border-style: solid;
        border-color: aqua;
        border-width: 1px;
        font-weight: 4vw;
    }
    
    /* Button pseudo elements */
    
    button:hover {
        background-color: aquamarine ;
    }
    
    button:active {
        background-color:aquamarine
    }
    
    /* Mobile display:grid */
    
    .image-grid {
        display: grid;
        /* height: 40px; */
        width: 300px;
        margin-right: auto;
        margin-left: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }
    
    .top-left-img {
        width: 135px;
        height: 135px;
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        grid-column: 1;
        grid-row: 1;
        border-style: solid;
        border-color: teal;
    }
    
    .top-right-img {
        width: 135px;
        height: 135px;
        margin-top: 5px;
        margin-right: 10px;
        margin-left: 10px;
        grid-column: 2;
        grid-row: 1;
        border-style: solid;
        border-color: teal;
    }
    
    .bottom-left-img {
        width: 135px;
        height: 135px;
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        grid-column: 1;
        grid-row: 2;
        border-style: solid;
        border-color: teal;
    }
    
    .bottom-right-img {
        width: 135px;
        height: 135px;
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-left: 10px;
        grid-column: 2;
        grid-row: 2;
        border-style: solid;
        border-color: teal;
    }
    
    /* Styles for featured box mobile */
    
    .featured-box {
        width: 80%;
        min-width: 300px;
        height: 20vw;
        min-height: 150px;
        margin-right: auto;
        margin-left: auto;
        padding: auto;
        border-style: solid;
        border-color: teal;
        background-color: white;
    }
    
    h3.featured-header {
        color: white;
        background-color: navy;
        width: 30vw;
        min-width:   100px;
        height: auto;
        margin-top: none;
        margin-right: 75%;
        /* margin-bottom: 90%; */
        margin-left: 5%;
        text-align: center;
    
        /* border-style: solid; */
        /* border-width: 5px; */
    }
    
    .featured-content {
        color: navy;
        width: 90%;
        min-width: 280px;
        height: 20vw;
        max-height: 80px;
        margin-left: auto;
        margin-right: auto;
        font-size: calc(8pt + 1vw);
    
        /* border-style: solid; */
    }
    
    .hairstyle-content {
        color: navy;
        width: 90%;
        min-width: 280px;
        height: 20vw;
        max-height: 80px;
        margin-left: auto;
        margin-right: auto;
        font-size: calc(8pt + 1vw);
    
        /* border-style: solid; */
    }
    
    .hairstyle-box {
        width: 80%;
        min-width: 300px;
        height: 20vw;
        min-height: 150px;
        margin-top: 5px;
        margin-right: auto;
        margin-left: auto;
        padding: auto;
        border-style: solid;
        border-color: teal;
        background-color: white;
        /* text-align: center; */
    }
    
    /* .inline_content {
        display:flex;
    } */
    
    
    /* Classes for misc content */
    
    .large-img {
        display: flex;
        width: 80%;
        min-width: 300px;
        height: 40vw;
        min-height: 153;
        /* margin: auto; */
        margin-top: 20px;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        /* padding: auto; */
        align-content: center;
        /* background-color: teal; */
        /* justify-content: center; */
        border-style: solid;
        border-color: teal;
    }

}

  /* Medium and up (Tablets) */
  @media (min-width: 768px) {
    body {
        width: 100%;
        min-width: 320px;
        /* height: 100%; */
        /* padding: auto; */
        background-color: lightgray;
    }
    
    header {
        width: 80%;
        min-width: 300px;
        height: 150px;
        margin-right: auto;
        margin-left: auto;
        padding: auto;
        background-color: teal;
    
    }
    
    div {
        width: 100%;
        min-width: 320px;
        margin-right: auto;
        margin-left: auto;
        justify-self: center;
    }
    
    footer {
        width: 80%;
        min-width: 350px;
        height: 50px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        padding: auto;
        background-color: teal;
        
    }
    
    p.footer-text {
        color: white;
        font-size: 2.5vw;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 15px;
        text-align: center;
    }
    
    /* In-line header styles for mobile */
    
    .mobile-header {
        display: flex;
        margin-right: auto;
        margin-left: auto;
    
    }
    
    .company-name-header {
        width: 40vw;
        height: 80px;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        color: white;
        background-color: navy;
        text-align: center;
        font-size: 4vw;
    }
    
    .navigation-buttons-mobile {
        width: 100px;
        margin-right: 50px;
        margin-left: 50px;
    /*     margin-top: 10px; */
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    /*     background-color: orange; */
        flex-direction: column-reverse;
    
    
    }
    
    button.nav-button-home {
        width: 100px;
        margin-bottom: 5px;
        color: white;
        background-color: navy;
        border-style: solid;
        border-color: aqua;
        border-width: 1px;
        font-weight: 4vw;
    
    }
    
    button.nav-button-about {
        width: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: white;
        background-color: navy;
        border-style: solid;
        border-color: aqua;
        border-width: 1px;
        font-weight: 4vw;
    }
    
    button.nav-button-contact {
        width: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: white;
        background-color: navy;
        border-style: solid;
        border-color: aqua;
        border-width: 1px;
        font-weight: 4vw;
    }
    
    button.nav-button-gallery {
        width: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: white;
        background-color: navy;
        border-style: solid;
        border-color: aqua;
        border-width: 1px;
        font-weight: 4vw;
    }
    
    button.nav-button-blog {
        width: 100px;
        margin-top: 5px;
    /*     margin-bottom: 5px; */
        color: white;
        background-color: navy;
        border-style: solid;
        border-color: aqua;
        border-width: 1px;
        font-weight: 4vw;
    }
    
    /* Button pseudo elements */
    
    button:hover {
        background-color: aquamarine ;
    }
    
    button:active {
        background-color:aquamarine
    }
    
    /* Mobile display:grid */
    
    .image-grid {
        display: grid;
        /* height: 40px; */
        width: 300px;
        margin-right: auto;
        margin-left: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }
    
    .top-left-img {
        width: 135px;
        height: 135px;
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        grid-column: 1;
        grid-row: 1;
        border-style: solid;
        border-color: teal;
    }
    
    .top-right-img {
        width: 135px;
        height: 135px;
        margin-top: 5px;
        margin-right: 10px;
        margin-left: 10px;
        grid-column: 2;
        grid-row: 1;
        border-style: solid;
        border-color: teal;
    }
    
    .bottom-left-img {
        width: 135px;
        height: 135px;
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        grid-column: 1;
        grid-row: 2;
        border-style: solid;
        border-color: teal;
    }
    
    .bottom-right-img {
        width: 135px;
        height: 135px;
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-left: 10px;
        grid-column: 2;
        grid-row: 2;
        border-style: solid;
        border-color: teal;
    }
    
    /* Styles for featured box mobile */
    
    .featured-box {
        width: 80%;
        min-width: 300px;
        height: 20vw;
        min-height: 150px;
        margin-right: auto;
        margin-left: auto;
        padding: auto;
        border-style: solid;
        border-color: teal;
        background-color: white;
    }
    
    h3.featured-header {
        color: white;
        background-color: navy;
        width: 30vw;
        min-width:   100px;
        height: auto;
        margin-top: none;
        margin-right: 75%;
        /* margin-bottom: 90%; */
        margin-left: 5%;
        text-align: center;
    
        /* border-style: solid; */
        /* border-width: 5px; */
    }
    
    .featured-content {
        color: navy;
        width: 90%;
        min-width: 280px;
        height: 20vw;
        max-height: 80px;
        margin-left: auto;
        margin-right: auto;
        font-size: calc(8pt + 1vw);
    
        /* border-style: solid; */
    }
    
    .hairstyle-content {
        color: navy;
        width: 90%;
        min-width: 280px;
        height: 20vw;
        max-height: 80px;
        margin-left: auto;
        margin-right: auto;
        font-size: calc(8pt + 1vw);
    
        /* border-style: solid; */
    }
    
    .hairstyle-box {
        width: 80%;
        min-width: 300px;
        height: 20vw;
        min-height: 150px;
        margin-top: 5px;
        margin-right: auto;
        margin-left: auto;
        padding: auto;
        border-style: solid;
        border-color: teal;
        background-color: white;
        /* text-align: center; */
    }
    
    /* .inline_content {
        display:flex;
    } */
    
    
    /* Classes for misc content */
    
    .large-img {
        display: flex;
        width: 80%;
        min-width: 300px;
        height: 40vw;
        min-height: 153;
        /* margin: auto; */
        margin-top: 20px;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        /* padding: auto; */
        align-content: center;
        /* background-color: teal; */
        /* justify-content: center; */
        border-style: solid;
        border-color: teal;
    }
    

}

  /* Large and up (Desktops) */
  @media (min-width: 992px) {

body {
    width: 100%;
    min-width: 320px;
    /* height: 100%; */
    /* padding: auto; */
    background-color: lightgray;
}

header {
    width: 80%;
    min-width: 300px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    background-color: teal;

}

div {
    width: 100%;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    justify-self: center;
}

footer {
    width: 80%;
    min-width: 350px;
    height: 50px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    padding: auto;
    background-color: teal;
    
}

p.footer-text {
    color: white;
    font-size: 2.5vw;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    text-align: center;
}

/* In-line header styles for mobile */

.mobile-header {
    display: flex;
    margin-right: auto;
    margin-left: auto;

}

.company-name-header {
    width: 40vw;
    height: 80px;
    /* margin-top: 80px; */
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: navy;
    text-align: center;
    font-size: calc(10pt + 1vw)
}

.navigation-buttons-mobile {
    width: 100px;
    margin-right: 50px;
    margin-left: 50px;
/*     margin-top: 10px; */
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
/*     background-color: orange; */
    flex-direction: column-reverse;


}

button.nav-button-home {
    width: 100px;
    margin-bottom: 5px;
    color: white;
    background-color: navy;
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    font-weight: 4vw;

}

button.nav-button-about {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: navy;
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    font-weight: 4vw;
}

button.nav-button-contact {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: navy;
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    font-weight: 4vw;
}

button.nav-button-gallery {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: navy;
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    font-weight: 4vw;
}

button.nav-button-blog {
    width: 100px;
    margin-top: 5px;
/*     margin-bottom: 5px; */
    color: white;
    background-color: navy;
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    font-weight: 4vw;
}

/* Button pseudo elements */

button:hover {
    background-color: aquamarine ;
}

button:active {
    background-color:aquamarine
}

/* Mobile display:grid */

.image-grid {
    display: grid;
    /* height: 40px; */
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

.top-left-img {
    width: 20vw;
    height: 20vw;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    grid-column: 1;
    grid-row: 1;
    border-style: solid;
    border-color: teal;
}

.top-right-img {
    width: 20vw;
    height: 20vw;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    grid-column: 2;
    grid-row: 1;
    border-style: solid;
    border-color: teal;
}

.bottom-left-img {
    width: 20vw;
    height: 20vw;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    grid-column: 1;
    grid-row: 2;
    border-style: solid;
    border-color: teal;
}

.bottom-right-img {
    width: 20vw;
    height: 20vw;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    grid-column: 2;
    grid-row: 2;
    border-style: solid;
    border-color: teal;
}

/* Styles for featured box mobile */

.featured-box {
    width: 80%;
    min-width: 300px;
    height: 20vw;
    min-height: 150px;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    border-style: solid;
    border-color: teal;
    background-color: white;
}

h3.featured-header {
    color: white;
    background-color: navy;
    width: 30vw;
    min-width:   100px;
    height: auto;
    margin-top: none;
    margin-right: 75%;
    /* margin-bottom: 90%; */
    margin-left: 5%;
    text-align: center;

    /* border-style: solid; */
    /* border-width: 5px; */
}

.featured-content {
    color: navy;
    width: 90%;
    min-width: 280px;
    height: 20vw;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(8pt + 1vw);

    /* border-style: solid; */
}

.hairstyle-content {
    color: navy;
    width: 90%;
    min-width: 280px;
    height: 20vw;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(8pt + 1vw);

    /* border-style: solid; */
}

.hairstyle-box {
    width: 80%;
    min-width: 300px;
    height: 20vw;
    min-height: 150px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    border-style: solid;
    border-color: teal;
    background-color: white;
    /* text-align: center; */
}

/* .inline_content {
    display:flex;
} */


/* Classes for misc content */

.large-img {
    display: flex;
    width: 80%;
    min-width: 300px;
    height: 40vw;
    min-height: 153;
    /* margin: auto; */
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    /* padding: auto; */
    align-content: center;
    /* background-color: teal; */
    /* justify-content: center; */
    border-style: solid;
    border-color: teal;
    }

}

/* About Page Styles */

.about-style {
    width: 80%;
    min-width: 300px;
    margin: auto;
    padding: 1vw;
    color: navy;
    background-color: white; 
    border-style: solid;
}

.about-headers {
    background-color: navy;
    color: white;
    padding: .5vw;
}

/* Gallery Page Styles */

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 300px;
    /* border-style: solid; */
}

.gallery1 {
    grid-column: 1;
    grid-row: 1;
    width: 30vw;
    height: 30vw;
    padding: 5px;
    border-style: solid;
    border-color: teal;
}

.gallery2 {
    grid-column: 2;
    grid-row: 1;
    width: 30vw;
    height: 30vw;
    padding: 5px;
    border-style: solid;
    border-color: teal;
}

.gallery3 {
    grid-column: 3;
    grid-row: 1;
    width: 30vw;
    height: 30vw;
    padding: 5px;
    border-style: solid;
    border-color: teal;
}

.gallery4 {
    grid-column: 1;
    grid-row: 2;
    width: 30vw;
    height: 30vw;
    padding: 5px;
    border-style: solid;
    border-color: teal;
}

.gallery5 {
    grid-column: 2;
    grid-row: 2;
    width: 30vw;
    height: 30vw;
    padding: 5px;
    border-style: solid;
    border-color: teal;
}

.gallery6 {
    grid-column: 3;
    grid-row: 2;
    width: 30vw;
    height: 30vw;
    padding: 5px;
    border-style: solid;
    border-color: teal;
}

.gallery7 {
    grid-column: 1;
    grid-row: 3;
    width: 30vw;
    height: 30vw;
    padding: 5px;
    border-style: solid;
    border-color: teal;
}

.gallery8 {
    grid-column: 2;
    grid-row: 3;
    width: 30vw;
    height: 30vw;
    padding: 5px;
    border-style: solid;
    border-color: teal;
}

.gallery9 {
    grid-column: 3;
    grid-row: 3;
    width: 30vw;
    height: 30vw;
    padding: 5px;
    border-style: solid;
    border-color: teal;
}

/* Blog Page Styles */

article.inline-blog {
    display: flex;
    width: 80%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;

}

.general-news {
    width: 40%;
    min-width: 40vw;
    font-size: calc(6pt + 1vw);
    margin-top: 20px;
    padding: 5px;
    color: navy;
    /* border-style: solid; */
}

.recent-news {
    width: 50%;
    min-width: 40vw;
    margin-top: 20px;
    margin-left: none;
    padding: 5px;
    color: navy;
    background-color: white;
    border-style: solid;
    border-color: teal;
    overflow-wrap: normal;

    
}

.news-header {
    color: white;
    background-color: navy;
    min-width: 20vw;
    font-size: calc(8pt + 1vw);
    overflow-wrap: normal;
}

.news1 {
    /* width: 50vw; */
    min-width: 20vw;
    font-size: calc(6pt + 1vw);
    overflow-wrap: normal;
}

.news2 {
    min-width: 20vw;
    font-size: calc(6pt + 1vw);
    overflow-wrap: normal;   
}

.news3 {
    min-width: 20vw;
    font-size: calc(6pt + 1vw);
    overflow-wrap: normal;   
}